body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  letter-spacing: -0.5px;
}
p {
  margin: 0;
  font-size: 24px;
  font-weight: 300;
}
a {
  color: #00f;
  text-decoration: none;
  outline: none;
}
a:hover, a:focus {
  text-decoration: underline;
}
a:visited {
  color: #551a8b;
}
h1 {
  font-weight: 500;
  font-size: 48px;
}
section {
  position: relative;
  border-top: 2px solid;
  padding: calc(40px + 1vw) calc(30px + 1vw);
}
ul {
  font-weight: 300;
}
.nuxt-content img {
  display: block;
  margin: 40px auto;
  max-width: 100%;
}
.nuxt-content h2 {
  margin: 40px 0;
  font-size: 32px;
}
.nuxt-content p {
  margin: 20px 0;
}
@media screen and (min-width: 1024px) {
  .nuxt-content {
    padding: 0 calc(100px + 1vw);
  }
}