@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Geist', system-ui, sans-serif;
    font-kerning: none;
    font-smoothing: antialiased;
  }

  body {
    @apply bg-white dark:bg-black text-black dark:text-white;
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s linear;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}